.debugging {
	/*display: none;*/
}
main .debugging {
	font-size: .8em;
	line-height: 1.25;
}
.debugging.size {
	position: fixed;
	text-align: right;
	top: 0;
	left: 50%;
	background: aliceblue;
	opacity: 80%;
}

.debugging.size:after { content: ' tiny'; }
@media screen and (min-width: 20.125rem) { .debugging.size:after { content: ' 20.125rem'; } }
@media screen and (min-width: 20.000rem) { .debugging.size:after { content: ' 20.000rem'; } }
@media screen and (min-width: 20.250rem) { .debugging.size:after { content: ' 20.250rem'; } }
@media screen and (min-width: 20.375rem) { .debugging.size:after { content: ' 20.375rem'; } }
@media screen and (min-width: 20.500rem) { .debugging.size:after { content: ' 20.500rem'; } }
@media screen and (min-width: 20.625rem) { .debugging.size:after { content: ' 20.625rem'; } }
@media screen and (min-width: 20.750rem) { .debugging.size:after { content: ' 20.750rem'; } }
@media screen and (min-width: 20.875rem) { .debugging.size:after { content: ' 20.875rem'; } }
@media screen and (min-width: 21.000rem) { .debugging.size:after { content: ' 21.000rem'; } }
@media screen and (min-width: 21.125rem) { .debugging.size:after { content: ' 21.125rem'; } }
@media screen and (min-width: 21.250rem) { .debugging.size:after { content: ' 21.250rem'; } }
@media screen and (min-width: 21.375rem) { .debugging.size:after { content: ' 21.375rem'; } }
@media screen and (min-width: 21.500rem) { .debugging.size:after { content: ' 21.500rem'; } }
@media screen and (min-width: 21.625rem) { .debugging.size:after { content: ' 21.625rem'; } }
@media screen and (min-width: 21.750rem) { .debugging.size:after { content: ' 21.750rem'; } }
@media screen and (min-width: 21.875rem) { .debugging.size:after { content: ' 21.875rem'; } }
@media screen and (min-width: 22.000rem) { .debugging.size:after { content: ' 22.000rem'; } }
@media screen and (min-width: 22.125rem) { .debugging.size:after { content: ' 22.125rem'; } }
@media screen and (min-width: 22.250rem) { .debugging.size:after { content: ' 22.250rem'; } }
@media screen and (min-width: 22.375rem) { .debugging.size:after { content: ' 22.375rem'; } }
@media screen and (min-width: 22.500rem) { .debugging.size:after { content: ' 22.500rem'; } }
@media screen and (min-width: 22.625rem) { .debugging.size:after { content: ' 22.625rem'; } }
@media screen and (min-width: 22.750rem) { .debugging.size:after { content: ' 22.750rem'; } }
@media screen and (min-width: 22.875rem) { .debugging.size:after { content: ' 22.875rem'; } }
@media screen and (min-width: 23.000rem) { .debugging.size:after { content: ' 23.000rem'; } }
@media screen and (min-width: 23.125rem) { .debugging.size:after { content: ' 23.125rem'; } }
@media screen and (min-width: 23.250rem) { .debugging.size:after { content: ' 23.250rem'; } }
@media screen and (min-width: 23.375rem) { .debugging.size:after { content: ' 23.375rem'; } }
@media screen and (min-width: 23.500rem) { .debugging.size:after { content: ' 23.500rem'; } }
@media screen and (min-width: 23.625rem) { .debugging.size:after { content: ' 23.625rem'; } }
@media screen and (min-width: 23.750rem) { .debugging.size:after { content: ' 23.750rem'; } }
@media screen and (min-width: 23.875rem) { .debugging.size:after { content: ' 23.875rem'; } }
@media screen and (min-width: 24.000rem) { .debugging.size:after { content: ' 24.000rem'; } }
@media screen and (min-width: 24.125rem) { .debugging.size:after { content: ' 24.125rem'; } }
@media screen and (min-width: 24.250rem) { .debugging.size:after { content: ' 24.250rem'; } }
@media screen and (min-width: 24.375rem) { .debugging.size:after { content: ' 24.375rem'; } }
@media screen and (min-width: 24.500rem) { .debugging.size:after { content: ' 24.500rem'; } }
@media screen and (min-width: 24.625rem) { .debugging.size:after { content: ' 24.625rem'; } }
@media screen and (min-width: 24.750rem) { .debugging.size:after { content: ' 24.750rem'; } }
@media screen and (min-width: 24.875rem) { .debugging.size:after { content: ' 24.875rem'; } }
@media screen and (min-width: 25.000rem) { .debugging.size:after { content: ' 25.000rem'; } }
@media screen and (min-width: 25.125rem) { .debugging.size:after { content: ' 25.125rem'; } }
@media screen and (min-width: 25.250rem) { .debugging.size:after { content: ' 25.250rem'; } }
@media screen and (min-width: 25.375rem) { .debugging.size:after { content: ' 25.375rem'; } }
@media screen and (min-width: 25.500rem) { .debugging.size:after { content: ' 25.500rem'; } }
@media screen and (min-width: 25.625rem) { .debugging.size:after { content: ' 25.625rem'; } }
@media screen and (min-width: 25.750rem) { .debugging.size:after { content: ' 25.750rem'; } }
@media screen and (min-width: 25.875rem) { .debugging.size:after { content: ' 25.875rem'; } }
@media screen and (min-width: 26.000rem) { .debugging.size:after { content: ' 26.000rem'; } }
@media screen and (min-width: 26.125rem) { .debugging.size:after { content: ' 26.125rem'; } }
@media screen and (min-width: 26.250rem) { .debugging.size:after { content: ' 26.250rem'; } }
@media screen and (min-width: 26.375rem) { .debugging.size:after { content: ' 26.375rem'; } }
@media screen and (min-width: 26.500rem) { .debugging.size:after { content: ' 26.500rem'; } }
@media screen and (min-width: 26.625rem) { .debugging.size:after { content: ' 26.625rem'; } }
@media screen and (min-width: 26.750rem) { .debugging.size:after { content: ' 26.750rem'; } }
@media screen and (min-width: 26.875rem) { .debugging.size:after { content: ' 26.875rem'; } }
@media screen and (min-width: 27.000rem) { .debugging.size:after { content: ' 27.000rem'; } }
@media screen and (min-width: 27.125rem) { .debugging.size:after { content: ' 27.125rem'; } }
@media screen and (min-width: 27.250rem) { .debugging.size:after { content: ' 27.250rem'; } }
@media screen and (min-width: 27.375rem) { .debugging.size:after { content: ' 27.375rem'; } }
@media screen and (min-width: 27.500rem) { .debugging.size:after { content: ' 27.500rem'; } }
@media screen and (min-width: 27.625rem) { .debugging.size:after { content: ' 27.625rem'; } }
@media screen and (min-width: 27.750rem) { .debugging.size:after { content: ' 27.750rem'; } }
@media screen and (min-width: 27.875rem) { .debugging.size:after { content: ' 27.875rem'; } }
@media screen and (min-width: 28.000rem) { .debugging.size:after { content: ' 28.000rem'; } }
@media screen and (min-width: 28.125rem) { .debugging.size:after { content: ' 28.125rem'; } }
@media screen and (min-width: 28.250rem) { .debugging.size:after { content: ' 28.250rem'; } }
@media screen and (min-width: 28.375rem) { .debugging.size:after { content: ' 28.375rem'; } }
@media screen and (min-width: 28.500rem) { .debugging.size:after { content: ' 28.500rem'; } }
@media screen and (min-width: 28.625rem) { .debugging.size:after { content: ' 28.625rem'; } }
@media screen and (min-width: 28.750rem) { .debugging.size:after { content: ' 28.750rem'; } }
@media screen and (min-width: 28.875rem) { .debugging.size:after { content: ' 28.875rem'; } }
@media screen and (min-width: 29.000rem) { .debugging.size:after { content: ' 29.000rem'; } }
@media screen and (min-width: 29.125rem) { .debugging.size:after { content: ' 29.125rem'; } }
@media screen and (min-width: 29.250rem) { .debugging.size:after { content: ' 29.250rem'; } }
@media screen and (min-width: 29.375rem) { .debugging.size:after { content: ' 29.375rem'; } }
@media screen and (min-width: 29.500rem) { .debugging.size:after { content: ' 29.500rem'; } }
@media screen and (min-width: 29.625rem) { .debugging.size:after { content: ' 29.625rem'; } }
@media screen and (min-width: 29.750rem) { .debugging.size:after { content: ' 29.750rem'; } }
@media screen and (min-width: 29.875rem) { .debugging.size:after { content: ' 29.875rem'; } }
@media screen and (min-width: 30.000rem) { .debugging.size:after { content: ' 30.000rem'; } }
@media screen and (min-width: 30.125rem) { .debugging.size:after { content: ' 30.125rem'; } }
@media screen and (min-width: 30.250rem) { .debugging.size:after { content: ' 30.250rem'; } }
@media screen and (min-width: 30.375rem) { .debugging.size:after { content: ' 30.375rem'; } }
@media screen and (min-width: 30.500rem) { .debugging.size:after { content: ' 30.500rem'; } }
@media screen and (min-width: 30.625rem) { .debugging.size:after { content: ' 30.625rem'; } }
@media screen and (min-width: 30.750rem) { .debugging.size:after { content: ' 30.750rem'; } }
@media screen and (min-width: 30.875rem) { .debugging.size:after { content: ' 30.875rem'; } }
@media screen and (min-width: 31.000rem) { .debugging.size:after { content: ' 31.000rem'; } }
@media screen and (min-width: 31.125rem) { .debugging.size:after { content: ' 31.125rem'; } }
@media screen and (min-width: 31.250rem) { .debugging.size:after { content: ' 31.250rem'; } }
@media screen and (min-width: 31.375rem) { .debugging.size:after { content: ' 31.375rem'; } }
@media screen and (min-width: 31.500rem) { .debugging.size:after { content: ' 31.500rem'; } }
@media screen and (min-width: 31.625rem) { .debugging.size:after { content: ' 31.625rem'; } }
@media screen and (min-width: 31.750rem) { .debugging.size:after { content: ' 31.750rem'; } }
@media screen and (min-width: 31.875rem) { .debugging.size:after { content: ' 31.875rem'; } }
@media screen and (min-width: 32.000rem) { .debugging.size:after { content: ' 32.000rem'; } }
@media screen and (min-width: 32.125rem) { .debugging.size:after { content: ' 32.125rem'; } }
@media screen and (min-width: 32.250rem) { .debugging.size:after { content: ' 32.250rem'; } }
@media screen and (min-width: 32.375rem) { .debugging.size:after { content: ' 32.375rem'; } }
@media screen and (min-width: 32.500rem) { .debugging.size:after { content: ' 32.500rem'; } }
@media screen and (min-width: 32.625rem) { .debugging.size:after { content: ' 32.625rem'; } }
@media screen and (min-width: 32.750rem) { .debugging.size:after { content: ' 32.750rem'; } }
@media screen and (min-width: 32.875rem) { .debugging.size:after { content: ' 32.875rem'; } }
@media screen and (min-width: 33.000rem) { .debugging.size:after { content: ' 33.000rem'; } }
@media screen and (min-width: 33.125rem) { .debugging.size:after { content: ' 33.125rem'; } }
@media screen and (min-width: 33.250rem) { .debugging.size:after { content: ' 33.250rem'; } }
@media screen and (min-width: 33.375rem) { .debugging.size:after { content: ' 33.375rem'; } }
@media screen and (min-width: 33.500rem) { .debugging.size:after { content: ' 33.500rem'; } }
@media screen and (min-width: 33.625rem) { .debugging.size:after { content: ' 33.625rem'; } }
@media screen and (min-width: 33.750rem) { .debugging.size:after { content: ' 33.750rem'; } }
@media screen and (min-width: 33.875rem) { .debugging.size:after { content: ' 33.875rem'; } }
@media screen and (min-width: 34.000rem) { .debugging.size:after { content: ' 34.000rem'; } }
@media screen and (min-width: 34.125rem) { .debugging.size:after { content: ' 34.125rem'; } }
@media screen and (min-width: 34.250rem) { .debugging.size:after { content: ' 34.250rem'; } }
@media screen and (min-width: 34.375rem) { .debugging.size:after { content: ' 34.375rem'; } }
@media screen and (min-width: 34.500rem) { .debugging.size:after { content: ' 34.500rem'; } }
@media screen and (min-width: 34.625rem) { .debugging.size:after { content: ' 34.625rem'; } }
@media screen and (min-width: 34.750rem) { .debugging.size:after { content: ' 34.750rem'; } }
@media screen and (min-width: 34.875rem) { .debugging.size:after { content: ' 34.875rem'; } }
@media screen and (min-width: 35.000rem) { .debugging.size:after { content: ' 35.000rem'; } }
@media screen and (min-width: 35.125rem) { .debugging.size:after { content: ' 35.125rem'; } }
@media screen and (min-width: 35.250rem) { .debugging.size:after { content: ' 35.250rem'; } }
@media screen and (min-width: 35.375rem) { .debugging.size:after { content: ' 35.375rem'; } }
@media screen and (min-width: 35.500rem) { .debugging.size:after { content: ' 35.500rem'; } }
@media screen and (min-width: 35.625rem) { .debugging.size:after { content: ' 35.625rem'; } }
@media screen and (min-width: 35.750rem) { .debugging.size:after { content: ' 35.750rem'; } }
@media screen and (min-width: 35.875rem) { .debugging.size:after { content: ' 35.875rem'; } }
@media screen and (min-width: 36.000rem) { .debugging.size:after { content: ' 36.000rem'; } }
@media screen and (min-width: 36.125rem) { .debugging.size:after { content: ' 36.125rem'; } }
@media screen and (min-width: 36.250rem) { .debugging.size:after { content: ' 36.250rem'; } }
@media screen and (min-width: 36.375rem) { .debugging.size:after { content: ' 36.375rem'; } }
@media screen and (min-width: 36.500rem) { .debugging.size:after { content: ' 36.500rem'; } }
@media screen and (min-width: 36.625rem) { .debugging.size:after { content: ' 36.625rem'; } }
@media screen and (min-width: 36.750rem) { .debugging.size:after { content: ' 36.750rem'; } }
@media screen and (min-width: 36.875rem) { .debugging.size:after { content: ' 36.875rem'; } }
@media screen and (min-width: 37.000rem) { .debugging.size:after { content: ' 37.000rem'; } }
@media screen and (min-width: 37.125rem) { .debugging.size:after { content: ' 37.125rem'; } }
@media screen and (min-width: 37.250rem) { .debugging.size:after { content: ' 37.250rem'; } }
@media screen and (min-width: 37.375rem) { .debugging.size:after { content: ' 37.375rem'; } }
@media screen and (min-width: 37.500rem) { .debugging.size:after { content: ' 37.500rem'; } }
@media screen and (min-width: 37.625rem) { .debugging.size:after { content: ' 37.625rem'; } }
@media screen and (min-width: 37.750rem) { .debugging.size:after { content: ' 37.750rem'; } }
@media screen and (min-width: 37.875rem) { .debugging.size:after { content: ' 37.875rem'; } }
@media screen and (min-width: 38.000rem) { .debugging.size:after { content: ' 38.000rem'; } }
@media screen and (min-width: 38.125rem) { .debugging.size:after { content: ' 38.125rem'; } }
@media screen and (min-width: 38.250rem) { .debugging.size:after { content: ' 38.250rem'; } }
@media screen and (min-width: 38.375rem) { .debugging.size:after { content: ' 38.375rem'; } }
@media screen and (min-width: 38.500rem) { .debugging.size:after { content: ' 38.500rem'; } }
@media screen and (min-width: 38.625rem) { .debugging.size:after { content: ' 38.625rem'; } }
@media screen and (min-width: 38.750rem) { .debugging.size:after { content: ' 38.750rem'; } }
@media screen and (min-width: 38.875rem) { .debugging.size:after { content: ' 38.875rem'; } }
@media screen and (min-width: 39.000rem) { .debugging.size:after { content: ' 39.000rem'; } }
@media screen and (min-width: 39.125rem) { .debugging.size:after { content: ' 39.125rem'; } }
@media screen and (min-width: 39.250rem) { .debugging.size:after { content: ' 39.250rem'; } }
@media screen and (min-width: 39.375rem) { .debugging.size:after { content: ' 39.375rem'; } }
@media screen and (min-width: 39.500rem) { .debugging.size:after { content: ' 39.500rem'; } }
@media screen and (min-width: 39.625rem) { .debugging.size:after { content: ' 39.625rem'; } }
@media screen and (min-width: 39.750rem) { .debugging.size:after { content: ' 39.750rem'; } }
@media screen and (min-width: 39.875rem) { .debugging.size:after { content: ' 39.875rem'; } }
@media screen and (min-width: 40.000rem) { .debugging.size:after { content: ' 40.000rem'; } }
@media screen and (min-width: 40.125rem) { .debugging.size:after { content: ' 40.125rem'; } }
@media screen and (min-width: 40.250rem) { .debugging.size:after { content: ' 40.250rem'; } }
@media screen and (min-width: 40.375rem) { .debugging.size:after { content: ' 40.375rem'; } }
@media screen and (min-width: 40.500rem) { .debugging.size:after { content: ' 40.500rem'; } }
@media screen and (min-width: 40.625rem) { .debugging.size:after { content: ' 40.625rem'; } }
@media screen and (min-width: 40.750rem) { .debugging.size:after { content: ' 40.750rem'; } }
@media screen and (min-width: 40.875rem) { .debugging.size:after { content: ' 40.875rem'; } }
@media screen and (min-width: 41.000rem) { .debugging.size:after { content: ' 41.000rem'; } }
@media screen and (min-width: 41.125rem) { .debugging.size:after { content: ' 41.125rem'; } }
@media screen and (min-width: 41.250rem) { .debugging.size:after { content: ' 41.250rem'; } }
@media screen and (min-width: 41.375rem) { .debugging.size:after { content: ' 41.375rem'; } }
@media screen and (min-width: 41.500rem) { .debugging.size:after { content: ' 41.500rem'; } }
@media screen and (min-width: 41.625rem) { .debugging.size:after { content: ' 41.625rem'; } }
@media screen and (min-width: 41.750rem) { .debugging.size:after { content: ' 41.750rem'; } }
@media screen and (min-width: 41.875rem) { .debugging.size:after { content: ' 41.875rem'; } }
@media screen and (min-width: 42.000rem) { .debugging.size:after { content: ' 42.000rem'; } }
@media screen and (min-width: 42.125rem) { .debugging.size:after { content: ' 42.125rem'; } }
@media screen and (min-width: 42.250rem) { .debugging.size:after { content: ' 42.250rem'; } }
@media screen and (min-width: 42.375rem) { .debugging.size:after { content: ' 42.375rem'; } }
@media screen and (min-width: 42.500rem) { .debugging.size:after { content: ' 42.500rem'; } }
@media screen and (min-width: 42.625rem) { .debugging.size:after { content: ' 42.625rem'; } }
@media screen and (min-width: 42.750rem) { .debugging.size:after { content: ' 42.750rem'; } }
@media screen and (min-width: 42.875rem) { .debugging.size:after { content: ' 42.875rem'; } }
@media screen and (min-width: 43.000rem) { .debugging.size:after { content: ' 43.000rem'; } }
@media screen and (min-width: 43.125rem) { .debugging.size:after { content: ' 43.125rem'; } }
@media screen and (min-width: 43.250rem) { .debugging.size:after { content: ' 43.250rem'; } }
@media screen and (min-width: 43.375rem) { .debugging.size:after { content: ' 43.375rem'; } }
@media screen and (min-width: 43.500rem) { .debugging.size:after { content: ' 43.500rem'; } }
@media screen and (min-width: 43.625rem) { .debugging.size:after { content: ' 43.625rem'; } }
@media screen and (min-width: 43.750rem) { .debugging.size:after { content: ' 43.750rem'; } }
@media screen and (min-width: 43.875rem) { .debugging.size:after { content: ' 43.875rem'; } }
@media screen and (min-width: 44.000rem) { .debugging.size:after { content: ' 44.000rem'; } }
@media screen and (min-width: 44.125rem) { .debugging.size:after { content: ' 44.125rem'; } }
@media screen and (min-width: 44.250rem) { .debugging.size:after { content: ' 44.250rem'; } }
@media screen and (min-width: 44.375rem) { .debugging.size:after { content: ' 44.375rem'; } }
@media screen and (min-width: 44.500rem) { .debugging.size:after { content: ' 44.500rem'; } }
@media screen and (min-width: 44.625rem) { .debugging.size:after { content: ' 44.625rem'; } }
@media screen and (min-width: 44.750rem) { .debugging.size:after { content: ' 44.750rem'; } }
@media screen and (min-width: 44.875rem) { .debugging.size:after { content: ' 44.875rem'; } }
@media screen and (min-width: 45.000rem) { .debugging.size:after { content: ' 45.000rem'; } }
@media screen and (min-width: 45.125rem) { .debugging.size:after { content: ' 45.125rem'; } }
@media screen and (min-width: 45.250rem) { .debugging.size:after { content: ' 45.250rem'; } }
@media screen and (min-width: 45.375rem) { .debugging.size:after { content: ' 45.375rem'; } }
@media screen and (min-width: 45.500rem) { .debugging.size:after { content: ' 45.500rem'; } }
@media screen and (min-width: 45.625rem) { .debugging.size:after { content: ' 45.625rem'; } }
@media screen and (min-width: 45.750rem) { .debugging.size:after { content: ' 45.750rem'; } }
@media screen and (min-width: 45.875rem) { .debugging.size:after { content: ' 45.875rem'; } }
@media screen and (min-width: 46.000rem) { .debugging.size:after { content: ' 46.000rem'; } }
@media screen and (min-width: 46.125rem) { .debugging.size:after { content: ' 46.125rem'; } }
@media screen and (min-width: 46.250rem) { .debugging.size:after { content: ' 46.250rem'; } }
@media screen and (min-width: 46.375rem) { .debugging.size:after { content: ' 46.375rem'; } }
@media screen and (min-width: 46.500rem) { .debugging.size:after { content: ' 46.500rem'; } }
@media screen and (min-width: 46.625rem) { .debugging.size:after { content: ' 46.625rem'; } }
@media screen and (min-width: 46.750rem) { .debugging.size:after { content: ' 46.750rem'; } }
@media screen and (min-width: 46.875rem) { .debugging.size:after { content: ' 46.875rem'; } }
@media screen and (min-width: 47.000rem) { .debugging.size:after { content: ' 47.000rem'; } }
@media screen and (min-width: 47.125rem) { .debugging.size:after { content: ' 47.125rem'; } }
@media screen and (min-width: 47.250rem) { .debugging.size:after { content: ' 47.250rem'; } }
@media screen and (min-width: 47.375rem) { .debugging.size:after { content: ' 47.375rem'; } }
@media screen and (min-width: 47.500rem) { .debugging.size:after { content: ' 47.500rem'; } }
@media screen and (min-width: 47.625rem) { .debugging.size:after { content: ' 47.625rem'; } }
@media screen and (min-width: 47.750rem) { .debugging.size:after { content: ' 47.750rem'; } }
@media screen and (min-width: 47.875rem) { .debugging.size:after { content: ' 47.875rem'; } }
@media screen and (min-width: 48.000rem) { .debugging.size:after { content: ' 48.000rem'; } }
@media screen and (min-width: 48.125rem) { .debugging.size:after { content: ' 48.125rem'; } }
@media screen and (min-width: 48.250rem) { .debugging.size:after { content: ' 48.250rem'; } }
@media screen and (min-width: 48.375rem) { .debugging.size:after { content: ' 48.375rem'; } }
@media screen and (min-width: 48.500rem) { .debugging.size:after { content: ' 48.500rem'; } }
@media screen and (min-width: 48.625rem) { .debugging.size:after { content: ' 48.625rem'; } }
@media screen and (min-width: 48.750rem) { .debugging.size:after { content: ' 48.750rem'; } }
@media screen and (min-width: 48.875rem) { .debugging.size:after { content: ' 48.875rem'; } }
@media screen and (min-width: 49.000rem) { .debugging.size:after { content: ' 49.000rem'; } }
@media screen and (min-width: 49.125rem) { .debugging.size:after { content: ' 49.125rem'; } }
@media screen and (min-width: 49.250rem) { .debugging.size:after { content: ' 49.250rem'; } }
@media screen and (min-width: 49.375rem) { .debugging.size:after { content: ' 49.375rem'; } }
@media screen and (min-width: 49.500rem) { .debugging.size:after { content: ' 49.500rem'; } }
@media screen and (min-width: 49.625rem) { .debugging.size:after { content: ' 49.625rem'; } }
@media screen and (min-width: 49.750rem) { .debugging.size:after { content: ' 49.750rem'; } }
@media screen and (min-width: 49.875rem) { .debugging.size:after { content: ' 49.875rem'; } }
@media screen and (min-width: 50.000rem) { .debugging.size:after { content: ' 50.000rem'; } }
@media screen and (min-width: 50.125rem) { .debugging.size:after { content: ' 50.125rem'; } }
@media screen and (min-width: 50.250rem) { .debugging.size:after { content: ' 50.250rem'; } }
@media screen and (min-width: 50.375rem) { .debugging.size:after { content: ' 50.375rem'; } }
@media screen and (min-width: 50.500rem) { .debugging.size:after { content: ' 50.500rem'; } }
@media screen and (min-width: 50.625rem) { .debugging.size:after { content: ' 50.625rem'; } }
@media screen and (min-width: 50.750rem) { .debugging.size:after { content: ' 50.750rem'; } }
@media screen and (min-width: 50.875rem) { .debugging.size:after { content: ' 50.875rem'; } }
@media screen and (min-width: 51.000rem) { .debugging.size:after { content: ' 51.000rem'; } }
@media screen and (min-width: 51.125rem) { .debugging.size:after { content: ' 51.125rem'; } }
@media screen and (min-width: 51.250rem) { .debugging.size:after { content: ' 51.250rem'; } }
@media screen and (min-width: 51.375rem) { .debugging.size:after { content: ' 51.375rem'; } }
@media screen and (min-width: 51.500rem) { .debugging.size:after { content: ' 51.500rem'; } }
@media screen and (min-width: 51.625rem) { .debugging.size:after { content: ' 51.625rem'; } }
@media screen and (min-width: 51.750rem) { .debugging.size:after { content: ' 51.750rem'; } }
@media screen and (min-width: 51.875rem) { .debugging.size:after { content: ' 51.875rem'; } }
@media screen and (min-width: 52.000rem) { .debugging.size:after { content: ' 52.000rem'; } }
@media screen and (min-width: 52.125rem) { .debugging.size:after { content: ' 52.125rem'; } }
@media screen and (min-width: 52.250rem) { .debugging.size:after { content: ' 52.250rem'; } }
@media screen and (min-width: 52.375rem) { .debugging.size:after { content: ' 52.375rem'; } }
@media screen and (min-width: 52.500rem) { .debugging.size:after { content: ' 52.500rem'; } }
@media screen and (min-width: 52.625rem) { .debugging.size:after { content: ' 52.625rem'; } }
@media screen and (min-width: 52.750rem) { .debugging.size:after { content: ' 52.750rem'; } }
@media screen and (min-width: 52.875rem) { .debugging.size:after { content: ' 52.875rem'; } }
@media screen and (min-width: 53.000rem) { .debugging.size:after { content: ' 53.000rem'; } }
@media screen and (min-width: 53.125rem) { .debugging.size:after { content: ' 53.125rem'; } }
@media screen and (min-width: 53.250rem) { .debugging.size:after { content: ' 53.250rem'; } }
@media screen and (min-width: 53.375rem) { .debugging.size:after { content: ' 53.375rem'; } }
@media screen and (min-width: 53.500rem) { .debugging.size:after { content: ' 53.500rem'; } }
@media screen and (min-width: 53.625rem) { .debugging.size:after { content: ' 53.625rem'; } }
@media screen and (min-width: 53.750rem) { .debugging.size:after { content: ' 53.750rem'; } }
@media screen and (min-width: 53.875rem) { .debugging.size:after { content: ' 53.875rem'; } }
@media screen and (min-width: 54.000rem) { .debugging.size:after { content: ' 54.000rem'; } }
@media screen and (min-width: 54.125rem) { .debugging.size:after { content: ' 54.125rem'; } }
@media screen and (min-width: 54.250rem) { .debugging.size:after { content: ' 54.250rem'; } }
@media screen and (min-width: 54.375rem) { .debugging.size:after { content: ' 54.375rem'; } }
@media screen and (min-width: 54.500rem) { .debugging.size:after { content: ' 54.500rem'; } }
@media screen and (min-width: 54.625rem) { .debugging.size:after { content: ' 54.625rem'; } }
@media screen and (min-width: 54.750rem) { .debugging.size:after { content: ' 54.750rem'; } }
@media screen and (min-width: 54.875rem) { .debugging.size:after { content: ' 54.875rem'; } }
@media screen and (min-width: 55.000rem) { .debugging.size:after { content: ' 55.000rem'; } }
@media screen and (min-width: 55.125rem) { .debugging.size:after { content: ' 55.125rem'; } }
@media screen and (min-width: 55.250rem) { .debugging.size:after { content: ' 55.250rem'; } }
@media screen and (min-width: 55.375rem) { .debugging.size:after { content: ' 55.375rem'; } }
@media screen and (min-width: 55.500rem) { .debugging.size:after { content: ' 55.500rem'; } }
@media screen and (min-width: 55.625rem) { .debugging.size:after { content: ' 55.625rem'; } }
@media screen and (min-width: 55.750rem) { .debugging.size:after { content: ' 55.750rem'; } }
@media screen and (min-width: 55.875rem) { .debugging.size:after { content: ' 55.875rem'; } }
@media screen and (min-width: 56.000rem) { .debugging.size:after { content: ' 56.000rem'; } }
@media screen and (min-width: 56.125rem) { .debugging.size:after { content: ' 56.125rem'; } }
@media screen and (min-width: 56.250rem) { .debugging.size:after { content: ' 56.250rem'; } }
@media screen and (min-width: 56.375rem) { .debugging.size:after { content: ' 56.375rem'; } }
@media screen and (min-width: 56.500rem) { .debugging.size:after { content: ' 56.500rem'; } }
@media screen and (min-width: 56.625rem) { .debugging.size:after { content: ' 56.625rem'; } }
@media screen and (min-width: 56.750rem) { .debugging.size:after { content: ' 56.750rem'; } }
@media screen and (min-width: 56.875rem) { .debugging.size:after { content: ' 56.875rem'; } }
@media screen and (min-width: 57.000rem) { .debugging.size:after { content: ' 57.000rem'; } }
@media screen and (min-width: 57.125rem) { .debugging.size:after { content: ' 57.125rem'; } }
@media screen and (min-width: 57.250rem) { .debugging.size:after { content: ' 57.250rem'; } }
@media screen and (min-width: 57.375rem) { .debugging.size:after { content: ' 57.375rem'; } }
@media screen and (min-width: 57.500rem) { .debugging.size:after { content: ' 57.500rem'; } }
@media screen and (min-width: 57.625rem) { .debugging.size:after { content: ' 57.625rem'; } }
@media screen and (min-width: 57.750rem) { .debugging.size:after { content: ' 57.750rem'; } }
@media screen and (min-width: 57.875rem) { .debugging.size:after { content: ' 57.875rem'; } }
@media screen and (min-width: 58.000rem) { .debugging.size:after { content: ' 58.000rem'; } }
@media screen and (min-width: 58.125rem) { .debugging.size:after { content: ' 58.125rem'; } }
@media screen and (min-width: 58.250rem) { .debugging.size:after { content: ' 58.250rem'; } }
@media screen and (min-width: 58.375rem) { .debugging.size:after { content: ' 58.375rem'; } }
@media screen and (min-width: 58.500rem) { .debugging.size:after { content: ' 58.500rem'; } }
@media screen and (min-width: 58.625rem) { .debugging.size:after { content: ' 58.625rem'; } }
@media screen and (min-width: 58.750rem) { .debugging.size:after { content: ' 58.750rem'; } }
@media screen and (min-width: 58.875rem) { .debugging.size:after { content: ' 58.875rem'; } }
@media screen and (min-width: 59.000rem) { .debugging.size:after { content: ' 59.000rem'; } }
@media screen and (min-width: 59.125rem) { .debugging.size:after { content: ' 59.125rem'; } }
@media screen and (min-width: 59.250rem) { .debugging.size:after { content: ' 59.250rem'; } }
@media screen and (min-width: 59.375rem) { .debugging.size:after { content: ' 59.375rem'; } }
@media screen and (min-width: 59.500rem) { .debugging.size:after { content: ' 59.500rem'; } }
@media screen and (min-width: 59.625rem) { .debugging.size:after { content: ' 59.625rem'; } }
@media screen and (min-width: 59.750rem) { .debugging.size:after { content: ' 59.750rem'; } }
@media screen and (min-width: 59.875rem) { .debugging.size:after { content: ' 59.875rem'; } }
@media screen and (min-width: 60.000rem) { .debugging.size:after { content: ' 60.000rem'; } }
@media screen and (min-width: 60.125rem) { .debugging.size:after { content: ' 60.125rem'; } }
@media screen and (min-width: 60.250rem) { .debugging.size:after { content: ' 60.250rem'; } }
@media screen and (min-width: 60.375rem) { .debugging.size:after { content: ' 60.375rem'; } }
@media screen and (min-width: 60.500rem) { .debugging.size:after { content: ' 60.500rem'; } }
@media screen and (min-width: 60.625rem) { .debugging.size:after { content: ' 60.625rem'; } }
@media screen and (min-width: 60.750rem) { .debugging.size:after { content: ' 60.750rem'; } }
@media screen and (min-width: 60.875rem) { .debugging.size:after { content: ' 60.875rem'; } }
@media screen and (min-width: 61.000rem) { .debugging.size:after { content: ' 61.000rem'; } }
@media screen and (min-width: 61.125rem) { .debugging.size:after { content: ' 61.125rem'; } }
@media screen and (min-width: 61.250rem) { .debugging.size:after { content: ' 61.250rem'; } }
@media screen and (min-width: 61.375rem) { .debugging.size:after { content: ' 61.375rem'; } }
@media screen and (min-width: 61.500rem) { .debugging.size:after { content: ' 61.500rem'; } }
@media screen and (min-width: 61.625rem) { .debugging.size:after { content: ' 61.625rem'; } }
@media screen and (min-width: 61.750rem) { .debugging.size:after { content: ' 61.750rem'; } }
@media screen and (min-width: 61.875rem) { .debugging.size:after { content: ' 61.875rem'; } }
@media screen and (min-width: 62.000rem) { .debugging.size:after { content: ' 62.000rem'; } }
@media screen and (min-width: 62.125rem) { .debugging.size:after { content: ' 62.125rem'; } }
@media screen and (min-width: 62.250rem) { .debugging.size:after { content: ' 62.250rem'; } }
@media screen and (min-width: 62.375rem) { .debugging.size:after { content: ' 62.375rem'; } }
@media screen and (min-width: 62.500rem) { .debugging.size:after { content: ' 62.500rem'; } }
@media screen and (min-width: 62.625rem) { .debugging.size:after { content: ' 62.625rem'; } }
@media screen and (min-width: 62.750rem) { .debugging.size:after { content: ' 62.750rem'; } }
@media screen and (min-width: 62.875rem) { .debugging.size:after { content: ' 62.875rem'; } }
@media screen and (min-width: 63.000rem) { .debugging.size:after { content: ' 63.000rem'; } }
@media screen and (min-width: 63.125rem) { .debugging.size:after { content: ' 63.125rem'; } }
@media screen and (min-width: 63.250rem) { .debugging.size:after { content: ' 63.250rem'; } }
@media screen and (min-width: 63.375rem) { .debugging.size:after { content: ' 63.375rem'; } }
@media screen and (min-width: 63.500rem) { .debugging.size:after { content: ' 63.500rem'; } }
@media screen and (min-width: 63.625rem) { .debugging.size:after { content: ' 63.625rem'; } }
@media screen and (min-width: 63.750rem) { .debugging.size:after { content: ' 63.750rem'; } }
@media screen and (min-width: 63.875rem) { .debugging.size:after { content: ' 63.875rem'; } }
@media screen and (min-width: 64.000rem) { .debugging.size:after { content: ' 64.000rem'; } }
@media screen and (min-width: 64.125rem) { .debugging.size:after { content: ' 64.125rem'; } }
@media screen and (min-width: 64.250rem) { .debugging.size:after { content: ' 64.250rem'; } }
@media screen and (min-width: 64.375rem) { .debugging.size:after { content: ' 64.375rem'; } }
@media screen and (min-width: 64.500rem) { .debugging.size:after { content: ' 64.500rem'; } }
@media screen and (min-width: 64.625rem) { .debugging.size:after { content: ' 64.625rem'; } }
@media screen and (min-width: 64.750rem) { .debugging.size:after { content: ' 64.750rem'; } }
@media screen and (min-width: 64.875rem) { .debugging.size:after { content: ' 64.875rem'; } }
@media screen and (min-width: 65.000rem) { .debugging.size:after { content: ' 65.000rem'; } }
@media screen and (min-width: 65.125rem) { .debugging.size:after { content: ' 65.125rem'; } }
@media screen and (min-width: 65.250rem) { .debugging.size:after { content: ' 65.250rem'; } }
@media screen and (min-width: 65.375rem) { .debugging.size:after { content: ' 65.375rem'; } }
@media screen and (min-width: 65.500rem) { .debugging.size:after { content: ' 65.500rem'; } }
@media screen and (min-width: 65.625rem) { .debugging.size:after { content: ' 65.625rem'; } }
@media screen and (min-width: 65.750rem) { .debugging.size:after { content: ' 65.750rem'; } }
@media screen and (min-width: 65.875rem) { .debugging.size:after { content: ' 65.875rem'; } }
@media screen and (min-width: 66.000rem) { .debugging.size:after { content: ' 66.000rem'; } }
@media screen and (min-width: 66.125rem) { .debugging.size:after { content: ' 66.125rem'; } }
@media screen and (min-width: 66.250rem) { .debugging.size:after { content: ' 66.250rem'; } }
@media screen and (min-width: 66.375rem) { .debugging.size:after { content: ' 66.375rem'; } }
@media screen and (min-width: 66.500rem) { .debugging.size:after { content: ' 66.500rem'; } }
@media screen and (min-width: 66.625rem) { .debugging.size:after { content: ' 66.625rem'; } }
@media screen and (min-width: 66.750rem) { .debugging.size:after { content: ' 66.750rem'; } }
@media screen and (min-width: 66.875rem) { .debugging.size:after { content: ' 66.875rem'; } }
@media screen and (min-width: 67.000rem) { .debugging.size:after { content: ' 67.000rem'; } }
@media screen and (min-width: 67.125rem) { .debugging.size:after { content: ' 67.125rem'; } }
@media screen and (min-width: 67.250rem) { .debugging.size:after { content: ' 67.250rem'; } }
@media screen and (min-width: 67.375rem) { .debugging.size:after { content: ' 67.375rem'; } }
@media screen and (min-width: 67.500rem) { .debugging.size:after { content: ' 67.500rem'; } }
@media screen and (min-width: 67.625rem) { .debugging.size:after { content: ' 67.625rem'; } }
@media screen and (min-width: 67.750rem) { .debugging.size:after { content: ' 67.750rem'; } }
@media screen and (min-width: 67.875rem) { .debugging.size:after { content: ' 67.875rem'; } }
@media screen and (min-width: 68.000rem) { .debugging.size:after { content: ' 68.000rem'; } }
@media screen and (min-width: 68.125rem) { .debugging.size:after { content: ' 68.125rem'; } }
@media screen and (min-width: 68.250rem) { .debugging.size:after { content: ' 68.250rem'; } }
@media screen and (min-width: 68.375rem) { .debugging.size:after { content: ' 68.375rem'; } }
@media screen and (min-width: 68.500rem) { .debugging.size:after { content: ' 68.500rem'; } }
@media screen and (min-width: 68.625rem) { .debugging.size:after { content: ' 68.625rem'; } }
@media screen and (min-width: 68.750rem) { .debugging.size:after { content: ' 68.750rem'; } }
@media screen and (min-width: 68.875rem) { .debugging.size:after { content: ' 68.875rem'; } }
@media screen and (min-width: 69.000rem) { .debugging.size:after { content: ' 69.000rem'; } }
@media screen and (min-width: 69.125rem) { .debugging.size:after { content: ' 69.125rem'; } }
@media screen and (min-width: 69.250rem) { .debugging.size:after { content: ' 69.250rem'; } }
@media screen and (min-width: 69.375rem) { .debugging.size:after { content: ' 69.375rem'; } }
@media screen and (min-width: 69.500rem) { .debugging.size:after { content: ' 69.500rem'; } }
@media screen and (min-width: 69.625rem) { .debugging.size:after { content: ' 69.625rem'; } }
@media screen and (min-width: 69.750rem) { .debugging.size:after { content: ' 69.750rem'; } }
@media screen and (min-width: 69.875rem) { .debugging.size:after { content: ' 69.875rem'; } }
@media screen and (min-width: 70.000rem) { .debugging.size:after { content: ' 70.000rem'; } }
@media screen and (min-width: 70.125rem) { .debugging.size:after { content: ' 70.125rem'; } }
@media screen and (min-width: 70.250rem) { .debugging.size:after { content: ' 70.250rem'; } }
@media screen and (min-width: 70.375rem) { .debugging.size:after { content: ' 70.375rem'; } }
@media screen and (min-width: 70.500rem) { .debugging.size:after { content: ' 70.500rem'; } }
@media screen and (min-width: 70.625rem) { .debugging.size:after { content: ' 70.625rem'; } }
@media screen and (min-width: 70.750rem) { .debugging.size:after { content: ' 70.750rem'; } }
@media screen and (min-width: 70.875rem) { .debugging.size:after { content: ' 70.875rem'; } }
@media screen and (min-width: 71.000rem) { .debugging.size:after { content: ' 71.000rem'; } }
@media screen and (min-width: 71.125rem) { .debugging.size:after { content: ' 71.125rem'; } }
@media screen and (min-width: 71.250rem) { .debugging.size:after { content: ' 71.250rem'; } }
@media screen and (min-width: 71.375rem) { .debugging.size:after { content: ' 71.375rem'; } }
@media screen and (min-width: 71.500rem) { .debugging.size:after { content: ' 71.500rem'; } }
@media screen and (min-width: 71.625rem) { .debugging.size:after { content: ' 71.625rem'; } }
@media screen and (min-width: 71.750rem) { .debugging.size:after { content: ' 71.750rem'; } }
@media screen and (min-width: 71.875rem) { .debugging.size:after { content: ' 71.875rem'; } }
@media screen and (min-width: 72.000rem) { .debugging.size:after { content: ' 72.000rem'; } }
@media screen and (min-width: 72.125rem) { .debugging.size:after { content: ' 72.125rem'; } }
@media screen and (min-width: 72.250rem) { .debugging.size:after { content: ' 72.250rem'; } }
@media screen and (min-width: 72.375rem) { .debugging.size:after { content: ' 72.375rem'; } }
@media screen and (min-width: 72.500rem) { .debugging.size:after { content: ' 72.500rem'; } }
@media screen and (min-width: 72.625rem) { .debugging.size:after { content: ' 72.625rem'; } }
@media screen and (min-width: 72.750rem) { .debugging.size:after { content: ' 72.750rem'; } }
@media screen and (min-width: 72.875rem) { .debugging.size:after { content: ' 72.875rem'; } }
@media screen and (min-width: 73.000rem) { .debugging.size:after { content: ' 73.000rem'; } }
@media screen and (min-width: 73.125rem) { .debugging.size:after { content: ' 73.125rem'; } }
@media screen and (min-width: 73.250rem) { .debugging.size:after { content: ' 73.250rem'; } }
@media screen and (min-width: 73.375rem) { .debugging.size:after { content: ' 73.375rem'; } }
@media screen and (min-width: 73.500rem) { .debugging.size:after { content: ' 73.500rem'; } }
@media screen and (min-width: 73.625rem) { .debugging.size:after { content: ' 73.625rem'; } }
@media screen and (min-width: 73.750rem) { .debugging.size:after { content: ' 73.750rem'; } }
@media screen and (min-width: 73.875rem) { .debugging.size:after { content: ' 73.875rem'; } }
@media screen and (min-width: 74.000rem) { .debugging.size:after { content: ' 74.000rem'; } }
@media screen and (min-width: 74.125rem) { .debugging.size:after { content: ' 74.125rem'; } }
@media screen and (min-width: 74.250rem) { .debugging.size:after { content: ' 74.250rem'; } }
@media screen and (min-width: 74.375rem) { .debugging.size:after { content: ' 74.375rem'; } }
@media screen and (min-width: 74.500rem) { .debugging.size:after { content: ' 74.500rem'; } }
@media screen and (min-width: 74.625rem) { .debugging.size:after { content: ' 74.625rem'; } }
@media screen and (min-width: 74.750rem) { .debugging.size:after { content: ' 74.750rem'; } }
@media screen and (min-width: 74.875rem) { .debugging.size:after { content: ' 74.875rem'; } }
@media screen and (min-width: 75.000rem) { .debugging.size:after { content: ' 75.000rem'; } }
@media screen and (min-width: 75.125rem) { .debugging.size:after { content: ' 75.125rem'; } }
@media screen and (min-width: 75.250rem) { .debugging.size:after { content: ' 75.250rem'; } }
@media screen and (min-width: 75.375rem) { .debugging.size:after { content: ' 75.375rem'; } }
@media screen and (min-width: 75.500rem) { .debugging.size:after { content: ' 75.500rem'; } }
@media screen and (min-width: 75.625rem) { .debugging.size:after { content: ' 75.625rem'; } }
@media screen and (min-width: 75.750rem) { .debugging.size:after { content: ' 75.750rem'; } }
@media screen and (min-width: 75.875rem) { .debugging.size:after { content: ' 75.875rem'; } }
@media screen and (min-width: 76.000rem) { .debugging.size:after { content: ' 76.000rem'; } }
@media screen and (min-width: 76.125rem) { .debugging.size:after { content: ' 76.125rem'; } }
@media screen and (min-width: 76.250rem) { .debugging.size:after { content: ' 76.250rem'; } }
@media screen and (min-width: 76.375rem) { .debugging.size:after { content: ' 76.375rem'; } }
@media screen and (min-width: 76.500rem) { .debugging.size:after { content: ' 76.500rem'; } }
@media screen and (min-width: 76.625rem) { .debugging.size:after { content: ' 76.625rem'; } }
@media screen and (min-width: 76.750rem) { .debugging.size:after { content: ' 76.750rem'; } }
@media screen and (min-width: 76.875rem) { .debugging.size:after { content: ' 76.875rem'; } }
@media screen and (min-width: 77.000rem) { .debugging.size:after { content: ' 77.000rem'; } }
@media screen and (min-width: 77.125rem) { .debugging.size:after { content: ' 77.125rem'; } }
@media screen and (min-width: 77.250rem) { .debugging.size:after { content: ' 77.250rem'; } }
@media screen and (min-width: 77.375rem) { .debugging.size:after { content: ' 77.375rem'; } }
@media screen and (min-width: 77.500rem) { .debugging.size:after { content: ' 77.500rem'; } }
@media screen and (min-width: 77.625rem) { .debugging.size:after { content: ' 77.625rem'; } }
@media screen and (min-width: 77.750rem) { .debugging.size:after { content: ' 77.750rem'; } }
@media screen and (min-width: 77.875rem) { .debugging.size:after { content: ' 77.875rem'; } }
@media screen and (min-width: 78.000rem) { .debugging.size:after { content: ' 78.000rem'; } }
@media screen and (min-width: 78.125rem) { .debugging.size:after { content: ' 78.125rem'; } }
@media screen and (min-width: 78.250rem) { .debugging.size:after { content: ' 78.250rem'; } }
@media screen and (min-width: 78.375rem) { .debugging.size:after { content: ' 78.375rem'; } }
@media screen and (min-width: 78.500rem) { .debugging.size:after { content: ' 78.500rem'; } }
@media screen and (min-width: 78.625rem) { .debugging.size:after { content: ' 78.625rem'; } }
@media screen and (min-width: 78.750rem) { .debugging.size:after { content: ' 78.750rem'; } }
@media screen and (min-width: 78.875rem) { .debugging.size:after { content: ' 78.875rem'; } }
@media screen and (min-width: 79.000rem) { .debugging.size:after { content: ' 79.000rem'; } }
@media screen and (min-width: 79.125rem) { .debugging.size:after { content: ' 79.125rem'; } }
@media screen and (min-width: 79.250rem) { .debugging.size:after { content: ' 79.250rem'; } }
@media screen and (min-width: 79.375rem) { .debugging.size:after { content: ' 79.375rem'; } }
@media screen and (min-width: 79.500rem) { .debugging.size:after { content: ' 79.500rem'; } }
@media screen and (min-width: 79.625rem) { .debugging.size:after { content: ' 79.625rem'; } }
@media screen and (min-width: 79.750rem) { .debugging.size:after { content: ' 79.750rem'; } }
@media screen and (min-width: 79.875rem) { .debugging.size:after { content: ' 79.875rem'; } }
@media screen and (min-width: 80.000rem) { .debugging.size:after { content: ' 80.000rem'; } }
@media screen and (min-width: 80.125rem) { .debugging.size:after { content: ' 80.125rem'; } }
@media screen and (min-width: 80.250rem) { .debugging.size:after { content: ' 80.250rem'; } }
@media screen and (min-width: 80.375rem) { .debugging.size:after { content: ' 80.375rem'; } }
@media screen and (min-width: 80.500rem) { .debugging.size:after { content: ' 80.500rem'; } }
@media screen and (min-width: 80.625rem) { .debugging.size:after { content: ' 80.625rem'; } }
@media screen and (min-width: 80.750rem) { .debugging.size:after { content: ' 80.750rem'; } }
@media screen and (min-width: 80.875rem) { .debugging.size:after { content: ' 80.875rem'; } }
@media screen and (min-width: 81.000rem) { .debugging.size:after { content: ' 81.000rem'; } }
@media screen and (min-width: 81.125rem) { .debugging.size:after { content: ' 81.125rem'; } }
@media screen and (min-width: 81.250rem) { .debugging.size:after { content: ' 81.250rem'; } }
@media screen and (min-width: 81.375rem) { .debugging.size:after { content: ' 81.375rem'; } }
@media screen and (min-width: 81.500rem) { .debugging.size:after { content: ' 81.500rem'; } }
@media screen and (min-width: 81.625rem) { .debugging.size:after { content: ' 81.625rem'; } }
@media screen and (min-width: 81.750rem) { .debugging.size:after { content: ' 81.750rem'; } }
@media screen and (min-width: 81.875rem) { .debugging.size:after { content: ' 81.875rem'; } }
@media screen and (min-width: 82.000rem) { .debugging.size:after { content: ' 82.000rem'; } }
@media screen and (min-width: 82.125rem) { .debugging.size:after { content: ' 82.125rem'; } }
@media screen and (min-width: 82.250rem) { .debugging.size:after { content: ' 82.250rem'; } }
@media screen and (min-width: 82.375rem) { .debugging.size:after { content: ' 82.375rem'; } }
@media screen and (min-width: 82.500rem) { .debugging.size:after { content: ' 82.500rem'; } }
@media screen and (min-width: 82.625rem) { .debugging.size:after { content: ' 82.625rem'; } }
@media screen and (min-width: 82.750rem) { .debugging.size:after { content: ' 82.750rem'; } }
@media screen and (min-width: 82.875rem) { .debugging.size:after { content: ' 82.875rem'; } }
@media screen and (min-width: 83.000rem) { .debugging.size:after { content: ' 83.000rem'; } }
@media screen and (min-width: 83.125rem) { .debugging.size:after { content: ' 83.125rem'; } }
@media screen and (min-width: 83.250rem) { .debugging.size:after { content: ' 83.250rem'; } }
@media screen and (min-width: 83.375rem) { .debugging.size:after { content: ' 83.375rem'; } }
@media screen and (min-width: 83.500rem) { .debugging.size:after { content: ' 83.500rem'; } }
@media screen and (min-width: 83.625rem) { .debugging.size:after { content: ' 83.625rem'; } }
@media screen and (min-width: 83.750rem) { .debugging.size:after { content: ' 83.750rem'; } }
@media screen and (min-width: 83.875rem) { .debugging.size:after { content: ' 83.875rem'; } }
@media screen and (min-width: 84.000rem) { .debugging.size:after { content: ' 84.000rem'; } }
@media screen and (min-width: 84.125rem) { .debugging.size:after { content: ' 84.125rem'; } }
@media screen and (min-width: 84.250rem) { .debugging.size:after { content: ' 84.250rem'; } }
@media screen and (min-width: 84.375rem) { .debugging.size:after { content: ' 84.375rem'; } }
@media screen and (min-width: 84.500rem) { .debugging.size:after { content: ' 84.500rem'; } }
@media screen and (min-width: 84.625rem) { .debugging.size:after { content: ' 84.625rem'; } }
@media screen and (min-width: 84.750rem) { .debugging.size:after { content: ' 84.750rem'; } }
@media screen and (min-width: 84.875rem) { .debugging.size:after { content: ' 84.875rem'; } }
@media screen and (min-width: 85.000rem) { .debugging.size:after { content: ' 85.000rem'; } }
@media screen and (min-width: 85.125rem) { .debugging.size:after { content: ' 85.125rem'; } }
@media screen and (min-width: 85.250rem) { .debugging.size:after { content: ' 85.250rem'; } }
@media screen and (min-width: 85.375rem) { .debugging.size:after { content: ' 85.375rem'; } }
@media screen and (min-width: 85.500rem) { .debugging.size:after { content: ' 85.500rem'; } }
@media screen and (min-width: 85.625rem) { .debugging.size:after { content: ' 85.625rem'; } }
@media screen and (min-width: 85.750rem) { .debugging.size:after { content: ' 85.750rem'; } }
@media screen and (min-width: 85.875rem) { .debugging.size:after { content: ' 85.875rem'; } }
@media screen and (min-width: 86.000rem) { .debugging.size:after { content: ' 86.000rem'; } }
@media screen and (min-width: 86.125rem) { .debugging.size:after { content: ' 86.125rem'; } }
@media screen and (min-width: 86.250rem) { .debugging.size:after { content: ' 86.250rem'; } }
@media screen and (min-width: 86.375rem) { .debugging.size:after { content: ' 86.375rem'; } }
@media screen and (min-width: 86.500rem) { .debugging.size:after { content: ' 86.500rem'; } }
@media screen and (min-width: 86.625rem) { .debugging.size:after { content: ' 86.625rem'; } }
@media screen and (min-width: 86.750rem) { .debugging.size:after { content: ' 86.750rem'; } }
@media screen and (min-width: 86.875rem) { .debugging.size:after { content: ' 86.875rem'; } }
@media screen and (min-width: 87.000rem) { .debugging.size:after { content: ' 87.000rem'; } }
@media screen and (min-width: 87.125rem) { .debugging.size:after { content: ' 87.125rem'; } }
@media screen and (min-width: 87.250rem) { .debugging.size:after { content: ' 87.250rem'; } }
@media screen and (min-width: 87.375rem) { .debugging.size:after { content: ' 87.375rem'; } }
@media screen and (min-width: 87.500rem) { .debugging.size:after { content: ' 87.500rem'; } }
@media screen and (min-width: 87.625rem) { .debugging.size:after { content: ' 87.625rem'; } }
@media screen and (min-width: 87.750rem) { .debugging.size:after { content: ' 87.750rem'; } }
@media screen and (min-width: 87.875rem) { .debugging.size:after { content: ' 87.875rem'; } }
@media screen and (min-width: 88.000rem) { .debugging.size:after { content: ' 88.000rem'; } }
@media screen and (min-width: 88.125rem) { .debugging.size:after { content: ' 88.125rem'; } }
@media screen and (min-width: 88.250rem) { .debugging.size:after { content: ' 88.250rem'; } }
@media screen and (min-width: 88.375rem) { .debugging.size:after { content: ' 88.375rem'; } }
@media screen and (min-width: 88.500rem) { .debugging.size:after { content: ' 88.500rem'; } }
@media screen and (min-width: 88.625rem) { .debugging.size:after { content: ' 88.625rem'; } }
@media screen and (min-width: 88.750rem) { .debugging.size:after { content: ' 88.750rem'; } }
@media screen and (min-width: 88.875rem) { .debugging.size:after { content: ' 88.875rem'; } }
@media screen and (min-width: 89.000rem) { .debugging.size:after { content: ' 89.000rem'; } }
@media screen and (min-width: 89.125rem) { .debugging.size:after { content: ' 89.125rem'; } }
@media screen and (min-width: 89.250rem) { .debugging.size:after { content: ' 89.250rem'; } }
@media screen and (min-width: 89.375rem) { .debugging.size:after { content: ' 89.375rem'; } }
@media screen and (min-width: 89.500rem) { .debugging.size:after { content: ' 89.500rem'; } }
@media screen and (min-width: 89.625rem) { .debugging.size:after { content: ' 89.625rem'; } }
@media screen and (min-width: 89.750rem) { .debugging.size:after { content: ' 89.750rem'; } }
@media screen and (min-width: 89.875rem) { .debugging.size:after { content: ' 89.875rem'; } }
@media screen and (min-width: 90.000rem) { .debugging.size:after { content: ' \2265 90.000rem'; } }
