/*
 * Site specific layout.
 */
main, footer {
	clear: both;
}
section + section, *:not(summary) + p, p + table {
	margin-top: 1.5rem;
}
input:invalid {
	outline: 1px solid salmon;
}


section#globalSettings {
	display: grid;
	column-gap: 0.5rem;
	row-gap: 0;
	grid-template-columns: 1fr;
	grid-template-rows: [start] auto [end];
}
section#globalSettings input {
	box-sizing: border-box;
	width: 100%;

	align-self: flex-start;
	justify-self: flex-start;
}
section#globalSettings input[type=checkbox], section#globalSettings input[type=radio] {
	width: auto;
}
section#globalSettings input[type=number] {
	max-width: 5em;
}
section#globalSettings input[type=date] {
	max-width: 9em;
}


section table {
	display: grid;
	column-gap: 0.5rem;
	row-gap: 0;
	grid-template-columns: [left] 3em [right] 1fr [end];
	grid-template-rows: [start] auto [end];
}
section details table {
	grid-template-columns: [right] 1fr [end];
}
section table > tbody, section table > tbody > tr {
	display: contents;
}
section table > tbody > tr > th {
	display: none;
	font-weight: normal;
	text-align: left;
}
section table > tbody > tr > td:first-child {
	grid-column: left;
}
section details table > tbody > tr > td:first-child,
section table > tbody > tr > td {
	grid-column: right;
}
@media (min-width: 30em) {
	section#globalSettings {
		grid-template-columns: 10em 1fr;
		grid-template-rows: auto;
		grid-auto-rows: auto;
	}
	section table {
		display: revert;
		column-gap: revert;
		row-gap: revert;
		grid-template-columns: revert;
		grid-template-rows: revert;
	}
	section table > tbody, section table > tbody > tr {
		display: revert;
	}
	section table > tbody > tr > th {
		display: revert;
	}
	section table > tbody > tr > td:first-child, section table > tbody > tr > td {
		grid-column: revert;
	}
}

p {
	hyphens: auto;
}

aside#messages {
	position: relative;
}
aside#messages ul {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
aside#messages ul li {
	float: right;
	clear: both;
	/*position: relative;*/
	width: auto;
	min-height: 3em;
	border: 0.1em solid green;
	border-radius: 0.5em;
	background: palegreen;
	padding: 0.2em;
	margin: 0.2em;
	vertical-align: bottom;
}
aside#messages ul li.info {
	border-color: blue;
	background: lightblue;
}
aside#messages ul li.warning {
	border-color: yellow;
	background: lightyellow;
}
aside#messages ul li.error {
	border-color: red;
	background: lightpink;
}
