/*
Required Colors & Fonts:
--opk-color-background-accent
--opk-font-header
*/
aside.message {
	background: #ffd394;
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
	padding: 0.75rem;
}

/*
 * The following styles are auto-applied to elements with transition="popup" when their visibility is toggled by Vue.js.
 */
.popup-enter, .popup-leave-active {
	max-height: 0;
	overflow: hidden;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
/*
.popup-enter-active {
	transition: all 250ms ease-out;
}
.popup-leave-active {
	transition: box-shadow 0ms, all 250ms ease-in;
}
*/
