<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="shortcut icon" href="favicon.ico" sizes="16x16 32x32 48x48 64x64"/>
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png"/>
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196"/>
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>

	<link rel="stylesheet" type="text/css" href="style/base.css"/>
	<link rel="stylesheet" type="text/css" href="style/index.css"/>

	<link rel="stylesheet" type="text/css" href="./scripts/components/message.css"/>
	<script type="module" src="./scripts/app.js"></script>
	<title>Planagenda</title>
</head>
<body>

<header>
	Planagenda
	<nav>
		<a href="https://scs.westravanholthe.nl/">Terug</a>
	</nav>
</header>

<message v-model="messages"></message>
<main>

<section>
	<details ref="dateTitleTableExplanation" @click="toggleDateTitleTableExplanation">
		<summary>Hoe werkt het?</summary>
		<p>
			Hierboven vult u de titel en subtitel van de planner in. Bijvoorbeeld "Planagenda 2020" en "toetsperiode 1".
		</p>
		<p>
			Het aantal pagina's voor notities is een minimum: indien nodig worden er pagina's toegevoegd opdat de planner als boekje afgedrukt kan worden.
		</p>
		<p>
			De tabel hieronder bepaalt hoe de planagenda wordt gevuld. Na oplopend sorteren op datum, zal de planagenda starten op de laatste maandag
			op of voor de eerste datum, en eindigen op de laatste zondag op of na de laatste datum. De teksten naast de data worden, indien
			gevuld, vanaf die datum bij elke dag in de planagenda gezet (uitzondering is de eerste tekst; die komt vanaf het begin).
		</p>
		<div style="display: inline-block; margin: 1.5rem 3rem 0 0;">
			<p>Als je bijvoorbeeld het volgende invult:</p>
			<table>
				<tr><th>Vanaf</th><th>Dagtekst</th></tr>
				<tr><td>(di) 20 april 2021</td><td>Toetsweek</td></tr>
				<tr><td>(wo) 21 april 2021</td><td>&nbsp;</td></tr>
				<tr><td>(vr) 23 april 2021</td><td>Meivakantie</td></tr>
			</table>
		</div>
		<div style="display: inline-block; margin-top: 1.5rem;">
			<p>Dan krijg je dit resultaat:</p>
			<table>
				<tr><th>Datum</th><th>Dagtekst</th></tr>
				<tr><td>(ma) 19 april 2021</td><td>Toetsweek</td></tr>
				<tr><td>(di) 20 april 2021</td><td>Toetsweek</td></tr>
				<tr><td>(wo) 21 april 2021</td><td>&nbsp;</td></tr>
				<tr><td>(do) 22 april 2021</td><td>&nbsp;</td></tr>
				<tr><td>(vr) 23 april 2021</td><td>Meivakantie</td></tr>
				<tr><td>(za) 24 april 2021</td><td>Meivakantie</td></tr>
				<tr><td>(zo) 25 april 2021</td><td>Meivakantie</td></tr>
			</table>
		</div>
	</details>
</section>
<section id="globalSettings">
	<label for="title">Titel:</label>
	<input id="title" type="text" v-model="title" placeholder="Vul a.u.b. een titel in" required="required" autofocus="autofocus" @change="checkInputs"/>

	<label for="subtitle">Subtitel:</label>
	<input id="subtitle" type="text" v-model="subtitle" placeholder="Geen extra tekst" @change="checkInputs"/>

	<label for="notesPages">Notities:</label>
	<span><input id="notesPages" type="number" v-model="notesPages" required="required" @change="checkInputs"/> pagina's</span>
</section>
<section id="dateRanges">
	<p>
		Voor&shy;beel&shy;den voor de dag&shy;teks&shy;ten zijn: "Herfst&shy;va&shy;kan&shy;tie", "Toets&shy;week", etc.
	</p>
	<table>
		<tr>
			<th>&nbsp;</th>
			<th>Vanaf</th>
			<th>Dagtekst</th>
		</tr>
		<tr v-for="dateTitle in dateTitles">
			<td>
				<button type="button" @click="removeDateTitle(dateTitles, dateTitle)"><img src="./images/calendar-minus.png" alt="Verwijderen"
					style="height: 0.9em; vertical-align: baseline;"/></button>
			</td>
			<td><label><input type="date" v-model="dateTitle.date" required="required" @change="checkInputs"/></label></td>
			<td><label><input type="text" v-model="dateTitle.text" placeholder="Geen tekst" @change="checkInputs"/></label></td>
		</tr>
		<tr>
			<td>
				<button type="button" @click="addDateTitle(dateTitles)"><img src="images/calendar-plus.png" alt="Toevoegen"
					style="height: 0.9em; vertical-align: baseline;"/></button>
			</td>
			<td>
				<button type="button" @click="sortDateTitles(dateTitles)"><!--&#x21D5;--><img src="./images/pdf-file.svg" alt=""
						style="height: 0.9em; vertical-align: baseline;"/> Sorteer</button>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</section>
<section id="actions">
	<button type="button" :disabled="!allInputsAreValid" @click="generatePlanner()"><img src="./images/pdf-file.svg" alt=""
		style="height: 0.9em; vertical-align: baseline;"/> Genereer PDF</button>
</section>

</main>

<footer>
	Een goede planning is het halve werk.
</footer>

</body>
</html>
