<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
		 version="4.0" metadata-complete="false">
	<!--
	 ~ General session configuration.
	 -->
	<session-config>
		<!-- The default timeout differs for each container. -->
		<session-timeout>15</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<!-- Only allow cookies over SSL, so the session id is never sent in the clear. -->
			<!--<secure>true</secure>-->
		</cookie-config>
		<!-- Do not allow the session ID in the URL (it may end up in log files) -->
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTTPS for Everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!--
	 ~ Default and error page configurations.
	-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
